.recipe-page {
  margin-top: 90px;
  .recipe-title {
    font-family: "Allura";
    color: white;
    letter-spacing: 0.6px;
    line-height: 60px;
    font-size: 65px;
    text-align: center;
    margin-bottom: 0;
  }
  .recipe-username {
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 700;
    color: #1e3ca6;
    margin-top: -10px;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .recipe-photo-container {
    width: 340px;
    height: 340px;
    border: 2px solid #1e3ca6;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    .recipe-photo {
      max-width: 360px;
    }
  }
  .ingredients-title,
  .instructions-title {
    font-family: "Raleway";
    color: #1e3ca6;
    font-size: 18px;
    letter-spacing: 0.2px;
    margin: 25px 0 10px 25px;
  }
  .ingredients-list,
  .instructions-list {
    color: #1e3ca6;
    font-family: "Raleway";
    font-size: 16px;
    margin: 0 20px 20px 15px;
    .ingredients-li,
    .instructions-li {
      padding: 3px;
    }
  }
}
