@import url("https://fonts.googleapis.com/css?family=Allura|Lato:300i,400|Raleway:300,400,500,700,900&display=swap");

body {
  background: linear-gradient(#f3ca5c, #faf7ee);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
  @import "homepage";
  @import "nav";
  @import "profile";
  @import "loginsignup";
  @import "signup";
  @import "login";
  @import "post";
  @import "feed";
  @import "recipethumbnail";
  @import "recipe";
  @import "saves";
  @import "editprofile";
  @import "addrecipe";
  @import "searchresults";
  @import "userthumbnail";
  @import "notauth";
  @import "doesntexist";
  @import "searchbar";
}
